<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>

    <link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />



</head>
<body>
  <div id="headerbox">
    <form id="disconnect" method="POST" action="#">
        <input type="submit" value="Disconnect">
    </form>
  </div>
  <div id="chatbox">
    <span class = "username">tudor</span>
    :
    <span class = "message">hello world </span>
    <br>
    
  </div>
  <div id="textbox">
    <form id="send_room" method="POST" action='#'>

         <input type="text" name="room_data" id="room_data" placeholder="Message">
         <input type="submit" value="Send">
     </form>
  </div>

</body>
</html>
