<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/reset.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}" />
</head>
<body>


  <div id="registerbox">
  
    <form action="/register" method="get">
  <input type="text" name="username" placeholder="Username"><br>
  <input type="text" name="password" placeholder="Password"><br>
  <input type="submit" value="Submit">
</form>
  </div>



</body>
</html>
