<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>

    <link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />



</head>
<body>
  <div id="header">
    <div id="welcomeText">
      <h1>Hi tudor!</h1>
      <h1>talk to someone</h1>
    </div>
</div>
  <div id="users">
    <ul>
      <li><a>tudor </a></li>
      <li><a>vero </a></li>
      <li><a>alex </a></li>
      <li><a>paul </a></li>
    </ul>
  </div>

</body>
</html>
